@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:100,400,700);
@import url(https://fonts.googleapis.com/css?family=Oswald:100,400,700);

:root {
  background-color: rgba(.4, .4, 0, 1);
  color: rgba(1, 1, 0, .85);
}

h1, h2, h3, h4, h5, h6, p, ul, ol, ul li, ol li, table, th, td, tr, a {
  background-color: rgba(.4, .4, 0, 1);
  color: #ffff00;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', serif;
  font-size: 24px;
}

p, ul, ol, ul li, ol li, a {
  font-family: Oswald, sans-serif;
  font-size: 16px;
  color: #ffff00;
}
